* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Raleway", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

h1,
h2 {
  color: #196c84 !important;
  font-weight: 900 !important;
}

h2 {
  font-size: 2.5em;
}

h3 {
  font-size: 1.375em;
  line-height: 1.4;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
}

.date-call {
  color: #e36164 !important;
}

body {
  width: 100vw;
}

.page {
  width: 100vw;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 100vw;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact {
  width: 80vw;
  display: flex;
}

.contact-info {
  width: 40vw;
}

.contact-bio {
  background-color: #fff20d;
  padding: 20px;
}

.contact-details {
  padding: 10px;
}

.contact-histo {
  width: 40vw;
  padding: 20px;
}

.histo-box {
  width: 40vw;
}

.histo-lists {
  padding: 20px;
}

.contacts-admin {
  display: flex;
  width: 80vw;
  justify-content: space-between;
}

.home {
  display: flex;
  flex-direction: column;
  width: 100vw;
  align-items: center;
}

.contacts-home {
  display: flex;
  width: 90vw;
  justify-content: space-evenly;
}

.contacts-active {
  width: 30vw;
}

.contacts-inactive {
  width: 30vw;
}

.users-list {
  display: flex;
  width: 80vw;
  justify-content: space-evenly;
}

.users-mobs {
  width: 30vw;
  margin-right: 20px;
}

.users-volunteers {
  width: 30vw;
  margin-right: 20px;
}

.contacts-mycontacts {
  width: 30vw;
  margin-right: 80px;
}

.contacts-needcall {
  width: 30vw;
  margin-right: 80px;
}

.contacts-needwrite {
  width: 30vw;
}

.call-details {
  display: flex;
}

.call-empty {
  align-self: flex-end;
}

.radio-list {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.radio-item {
  margin-left: 6px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  background-color: #fff20d;
  height: 70vh;
  justify-content: center;
  /* border-radius: 10%; */
}

.form-groups {
  display: flex;
  flex-direction: column;
  width: 40vw;
}

.form-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.label {
  font-weight: bold;
}

.create-call {
  margin-top: 20px;
}

.compte-rendu {
  width: 100%;
  padding: 10px;
}

.btn {
  display: inline-block;
  position: relative;
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  color: #fff;
  font-size: 1.25em;
  line-height: 1em;
  font-weight: 800;
  padding: 0.8em 2em;
  border: 0;
  cursor: pointer;
  background-color: #0c3944;
  min-width: 7em;
  text-align: center;
  border-radius: 3em;
}

.btn:hover {
  background-color: #08272e;
  border-color: #08272e;
}

.small {
  font-size: 1em;
}

.red {
  background-color: #e36164;
}

.red:hover {
  background-color: #df4b4f;
  border-color: #df4b4f;
}

.register {
  color: #196c84 !important;
  font-weight: 900;
  margin-top: 10px;
  font-size: 16px;
}

.search {
  width: 100%;
  border: 0px;
}

.search:focus {
  outline: none;
}

.input {
  border: 0px;
  margin: 10px 0px;
  padding: 8px;
  width: 20vw;
}

select {
  width: 20vw;
}

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  /* width: 40%; */
  table-layout: fixed;
}

table caption {
  font-size: 1.5em;
  margin: 0.5em 0 0.75em;
}

table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: 0.35em;
}

tr:nth-child(even) {
  background-color: #f8f8f8;
}

tr:nth-child(odd) {
  background-color: white;
}

table th,
table td {
  padding: 0.625em;
  text-align: center;
}

table th {
  font-size: 0.85em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  background-color: #fff20d;
  font-weight: bold;
  color: #196c84;
}

.logo-form {
  width: 30vw;
  margin-bottom: 50px;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 20px;
  margin-right: 6px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #e36164;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #196c84;
}

input:focus + .slider {
  box-shadow: 0 0 1px #196c84;
}

input:checked + .slider:before {
  -webkit-transform: translateX(12px);
  -ms-transform: translateX(12px);
  transform: translateX(12px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.loader {
  display: flex;
  justify-content: center;
}

.fa-spinner {
  font-size: 5em;
  margin-top: 20vh;
  color: rgb(25, 108, 132);
  -webkit-animation: rotate-center 0.6s ease-in-out infinite both;
	        animation: rotate-center 0.6s ease-in-out infinite both;
}

@media screen and (max-width: 600px) {
  .NavMain .nav-list {
    margin-left: auto;
    display: flex;
    flex-direction: column;
  }

  h2 {
    font-size: 2em;
  }

  .logo-nav {
    width: 40vw;
  }

  .logo-form {
    width: 80vw;
    margin-bottom: 50px;
  }

  .contacts-home {
    display: flex;
    width: 90vw;
    flex-direction: column;
  }

  .contacts-mycontacts {
    margin-bottom: 20px;
    width: 90vw;
  }

  .contacts-needcall {
    width: 90vw;
  }

  .contacts-needwrite {
    width: 90vw;
  }

  .contacts-admin {
    display: flex;
    width: 90vw;
    flex-direction: column;
  }

  .contact {
    width: 90vw;
    display: flex;
    flex-direction: column;
  }

  .contact-info {
    width: 90vw;
  }

  .contact-histo {
    width: 90vw;
    padding: 20px;
  }

  .btn {
    font-size: 1em;
  }

  table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
  }

  .users-list {
    display: flex;
    width: 90vw;
    flex-direction: column;
  }

  .users-mobs {
    width: 90vw;
  }

  .users-volunteers {
    width: 90vw;
  }

  .contacts-active {
    width: 90vw;
  }

  .contacts-inactive {
    width: 90vw;
  }

  .call-details {
    display: flex;
    flex-direction: column;
  }

  .input {
    width: 80vw;
  }

  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: 0.625em;
  }

  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 0.8em;
    text-align: right;
  }

  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  table td:last-child {
    border-bottom: 0;
  }
}

.institutions {
  width: 90vw;
  padding: 20px;
}


/* ----------------------------------------------
 * Generated by Animista on 2020-12-10 15:9:9
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation rotate-center
 * ----------------------------------------
 */
 @-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
