* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Raleway", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

h1,
h2 {
  color: #196c84 !important;
  font-weight: 900 !important;
}

h2 {
  font-size: 2.5em;
}

h3 {
  font-size: 1.375em;
  line-height: 1.4;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
}

.date-call {
  color: #e36164 !important;
}

body {
  width: 100vw;
}

.page {
  width: 100vw;
  padding: 30px;
}

.container {
  width: 100vw;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact {
  width: 80vw;
  display: flex;
}

.contact-info {
  width: 40vw;
}

.contact-bio {
  background-color: #fff20d;
  padding: 20px;
}

.contact-details {
  padding: 10px;
}

.contact-histo {
  width: 40vw;
  padding: 20px;
}

.histo-box {
  width: 40vw;
}

.histo-lists {
  padding: 20px;
}

.contacts-admin {
  display: flex;
  width: 80vw;
  justify-content: space-between;
}

.home {
  display: flex;
  flex-direction: column;
  width: 100vw;
  align-items: center;
}

.contacts-home {
  display: flex;
  width: 80vw;
  justify-content: space-between;
}

.contacts-active {
  width: 30vw;
}

.contacts-inactive {
  width: 30vw;
}

.contacts-mycontacts {
  margin-bottom: 40px;
  /* align-self: flex-start; */
}

.contacts-needcall {
  width: 40vw;
  margin-right: 80px;
}

.contacts-needwrite {
  width: 40vw;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  background-color: #fff20d;
  height: 70vh;
  justify-content: center;
  /* border-radius: 10%; */
}

.create-call {
  margin-top: 20px;
}

.compte-rendu {
  width: 100%;
  padding: 10px;
}

.btn {
  display: inline-block;
  position: relative;
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  color: #fff;
  font-size: 1.25em;
  line-height: 1em;
  font-weight: 800;
  padding: 0.8em 2em;
  border: 0;
  cursor: pointer;
  background-color: #0c3944;
  min-width: 7em;
  text-align: center;
  border-radius: 3em;
}

.btn:hover {
  background-color: #08272e;
  border-color: #08272e;
}

.small {
  font-size: 1em;
}

.red {
  background-color: #e36164;
}

.red:hover {
  background-color: #df4b4f;
  border-color: #df4b4f;
}

.register {
  color: #196c84 !important;
  font-weight: 900;
  margin-top: 10px;
  font-size: 16px;
}

.search {
  width: 60%;
  border: 0px;
}

.input {
  border: 0px;
  margin: 10px;
  padding: 8px;
}

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  /* width: 40%; */
  table-layout: fixed;
}

table caption {
  font-size: 1.5em;
  margin: 0.5em 0 0.75em;
}

table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: 0.35em;
}

tr:nth-child(even) {
  background-color: #f8f8f8;
}

tr:nth-child(odd) {
  background-color: white;
}

table th,
table td {
  padding: 0.625em;
  text-align: center;
}

table th {
  font-size: 0.85em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  background-color: #fff20d;
  font-weight: bold;
  color: #196c84;
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: 0.625em;
  }

  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 0.8em;
    text-align: right;
  }

  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  table td:last-child {
    border-bottom: 0;
  }
}

.institutions {
  width: 90vw;
  padding: 20px;
}
